body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('imagens/navimg.jpeg') center/cover no-repeat;
  color: #f1f1f1;
  overflow-x: hidden; /* previne rolagem horizontal */
}


header {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('imagens/jeniferheader.jpeg') center/cover no-repeat;
  color: #f1f1f1;
  text-align: center;
  padding: 2.5rem 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #f6fcf5;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 6px #00000088;
  font-weight: 700;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
  box-sizing: border-box;
}

header p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #ccc;
  font-style: italic;
  letter-spacing: 0.5px;
  opacity: 0.85;
}
/*
nav a {
  background-color: rgba(255, 255, 255, 0.274);
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 1s;
  border-radius: 5px;
}

nav {
  
  padding: 10px;
  box-shadow: 2px 2px 3px white;
}

nav a:hover {
  background-color: black;
} */

/*.imagem-capa img {
  width: 100%;
  display: block;         
  max-height: 400px;
  object-fit: cover;
} */

.descricao, .preco {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}

.descricao ul {
  list-style: none;
  padding: 0;
}

.descricao li::before {
  content: "\1F484 ";
}

.preco h2 span {
  color: #50ff40;
}

.botao {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background: #1f1010;
  color: #fdfdfdfd;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

footer {
  text-align: center;
  background: #2c2c2c;
  padding: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}

.video-aula {
  padding: 2rem;
  max-width: 700px;
  margin: 2rem auto;
  background: #2c2c2c;
  border-radius: 12px;
  color: #f1f1f1;
}

.video-aula h2 {
  margin-bottom: 0.5rem;
  color: #f6f8f3;
  font-size: 1.5rem;
}

.video-aula p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.lista-conteudo {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  color: #ccc; /* cor mais escura */
  font-size: 1rem;
  line-height: 1.6;
}

.lista-conteudo li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.lista-conteudo li::before {
  content: "💄";
  margin-right: 0.5rem;
  color: #50ff40;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 6px #50ff4088;
  }

  header p {
    font-size: 1rem;
  }

  body {
    overflow-x: hidden; /* força a remover rolagem lateral */
  }
}

.imagem-capa {
  display: flex;
  overflow-x: auto;
 
 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.imagem-capa img {
  width: 100vw;
  height: auto;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
  max-height: 400px;
  border-radius: 0px;
  scroll-snap-align: center;
}

/*.imagem-capa img {
  width: 100%;
  display: block;         
  max-height: 400px;
  object-fit: cover;
} */


nav.redes-sociais {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  
  box-shadow: 2px 2px 3px #505350;
}

nav.redes-sociais a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 8px 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}

nav.redes-sociais a:hover {
  background-color: #fcfcfc;
  color: #000;
}

nav.redes-sociais i {
  font-size: 1.2rem;
}

 .galeria-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 1rem;
  overflow: hidden;
}

.seta {
  font-size: 2rem;
  color: #ffffff2c;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  transition: color 0.3s;
}

.seta:hover {
  color: #ffffff;
}

@media (max-width: 600px) {
  .seta {
    font-size: 1.6rem;
  }
}

